.services_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.service {
    background: var(--colorBgVarient);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--colorPrimary);
    height: fit-content;
    transition: .3s;
}

.service:hover {
    background: transparent;
    border: 1px solid var(--colorPrimaryVarient);
    cursor: pointer;
}

.service_head {
    background: var(--colorPrimary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, .1);
}

.service_head h3 {
    color: var(--colorBg);
    font-size: 1rem;
    text-align: center;
}

.service_list {
    padding: 2rem;
}

.service_list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service_list p {
    font-size: .9rem;
}

.service_icon {
    color: var(--colorPrimary);

}

/* =================== Media Quiry (Medium) ================= */
@media(max-width:1024px) {
    .services_container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .service {
        height: auto
    }

}

/* =================== Media Quiry (phones) ================= */
@media(max-width:600px) {
    .services_container {
        grid-template-columns: 1fr;
        gap: 3.5rem
    }

}